body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1F3A4C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  width: 100%;
}

.navbar h3 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  display: flex;
}

.navbar li {
  margin-right: 20px;
  cursor: pointer;
}

.navbar li a {
  color: white; /* Change color to your desired color */
  text-decoration: none;
}

.navbar li a:hover {
  color: lightgray;
}

.navbar li:last-child {
  margin-right: 0;
}

footer {
  background-color: #1F3A4C;
  color: #fff;
  text-align: center;
  padding: 1em;
}


table {
      border-collapse: collapse;
      width: 90%;
	  margin: 30px;
}
th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
}
th {
      background-color: #f2f2f2;
}

.filters {
	border-collapse: collapse;
	width: 100%;
	margin: 40px;
 	font-weight: bold;
	font-family: inherit;
}

.login-box {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.login-box h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}