<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>The PJL Inventory Management System</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
	<div class="navbar">
		<h3>PJL Inventory Management</h3>
		
	</div>

  <main class="content">
	<section class="login-box">
        <h2>Register</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">

            <label for="passwordv">Confirm Password:</label>
            <input type="password" id="passwordv" name="passwordv" placeholder="Confirm your password">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter your Email">
            
            <button type="submit">Register</button>
        </form>
    </section>
  </main>

  <footer>
      <p>&copy; Paul, Luis & Jack, we deserve full points</p>
  </footer>

  

</body>

</html>