<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>The Paul and Jack Registry</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body onload="getClasses(); getAllClasses()">
  <header>
      <h1>The Paul and Jack Registry</h1>
      <h3>Welcome {{ username }}</h3>
      <form method="POST" action="{{ url_for('logout') }}">
        <button type="submit">Logout</button>
      </form>

  </header>

  <main class="content">
    <section class="courseTable">
      <div class="tab-container">
        <div class="tab" onclick="showTable('table1')">Your Courses</div>
        <div class="tab" onclick="showTable('table2')">Add Courses</div>
      </div>
      <div id="table1" class="table-container active">
        <table id="enrolledClassesTable">
          <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Grade</th>
            <th>Students Enrolled</th>
          </tr>
        </table>
      </div>
      <div id="table2" class="table-container">
        
          <table id="allClassesTable">
            <tr>
              <th>Course Name</th>
              <th>Teacher</th>
              <th>Time</th>
              <th>Students Enrolled</th>
              <th>Enrollment</th>
            </tr>
          </table>
        
      </div>
    </section>
  </main>

  <footer>
      <p>&copy; Paul & Jack, we deserve full points</p>
  </footer>

  <script>
    function showTable(tableId) {
      // Hide all tables
      var tables = document.querySelectorAll('.table-container');
      tables.forEach(function(table) {
        table.classList.remove('active');
      });

      // Show the selected table
      var selectedTable = document.getElementById(tableId);
      if (selectedTable) {
        selectedTable.classList.add('active');
      }
    }

    //Get Data
    let getClasses = () => {
        fetch('/getClassesForStudent', {
            method: 'GET'
        })
        .then(res => res.json())
        .then(data => {

    
            for(let key in data.classes) {
                const classname = data.classes[key]['class_name']
                const teacher = data.classes[key]['teacher_name']
                const time = data.classes[key]['class_time']
                const grade = data.classes[key]['grade']
                const scount = data.classes[key]['students_count']
                const markup = `<tr><td>${classname}</td><td>${teacher}</td><td>${time}</td><td>${grade}</td><td>${scount}</td></tr>`

                document.getElementById('enrolledClassesTable').insertAdjacentHTML('beforeend', markup)
            }
        })
    }
    let getAllClasses = () => {
        fetch('/getAllClassesForStudent', {
            method: 'GET'
        })
        .then(res => res.json())
        .then(data => {

            console.log(data)
    
            for(let key in data.classes) {
                const classname = data.classes[key]['class_name']
                const teacher = data.classes[key]['teacher_name']
                const time = data.classes[key]['class_time']
                const enrolled = data.classes[key]['is_enrolled']
                const scount = data.classes[key]['students_count']
                let adddrop;
                if(enrolled == true){
                   adddrop = `<form method="POST" action="{{ url_for('dropclass') }}"><input type="hidden" name="class_name" value="${classname}"><input type="hidden" name="student_name" value="{{ username }}"><button type="submit">DROP</button></form>`
                }else{
                  parts = scount.split('/')
                  if(parseInt(parts[0]) >= parseInt(parts[1])){
                    adddrop = "FULL"
                  }else{
                    adddrop = `<form method="POST" action="{{ url_for('addclass') }}"><input type="hidden" name="class_name" value="${classname}"><input type="hidden" name="student_name" value="{{ username }}"><button type="submit">ADD</button></form>`
                  }
                }
                const markup = `<tr><td>${classname}</td><td>${teacher}</td><td>${time}</td><td>${scount}</td><td>${adddrop}</td></tr>`

                document.getElementById('allClassesTable').insertAdjacentHTML('beforeend', markup)
            }
        })
    }
  </script>

</body>

</html>